.beads {
  list-style: none;
  margin: 0;
}
.beads li {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  line-height: 40px;
  border-bottom: 1px solid #d4d7d6;
  position: relative;
}
.beads a {
  text-decoration: none;
  color: #464643;
  display: block;
  line-height: 40px;
  position: relative;
}
.beads a:before {
  content: "";
  position: absolute;
  left: -20px;
  top: 6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #606dbc;
}
.beads li:last-child {
  border-bottom: none;
}
.beads li:before,
.beads li:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}
.beads li:before {
  top: calc(50% - 5px);
  background: #465298;
  left: -22px;
  width: 10px;
  height: 10px;
  transition: 0.5s linear;
}
.beads li:after {
  bottom: 6px;
  left: -20px;
  width: 6px;
  height: 6px;
  background: #606dbc;
}
.beads li:hover:before {
  background: #2196f3;
}

/* MovieDetailView */

.content {
  display: flex;

  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}
.content img {
  margin: 20px;
}
.content ul {
  list-style: none;
  padding: 0;
}
.info {
  color: #2a363b;
}
.contentLink {
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}
.contentLink:hover {
  color: #2196f3;
}

.goBack {
  padding: 7px 30px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: #606dbc;
  cursor: pointer;
}
.goBack:hover {
  background: #465298;
}
