/* MovieDetailView */

.content {
  display: flex;

  text-decoration: none;
  padding: 12px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}
.content img {
  margin: 20px;
}
.content ul {
  list-style: none;
  padding: 0;
}
.info {
  color: #2a363b;
}
.contentLink {
  display: block;
  text-decoration: none;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}
.contentLink:hover {
  color: #2196f3;
}

.goBack {
  padding: 7px 30px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  background: #606dbc;
  cursor: pointer;
}
.goBack:hover {
  background: #465298;
}
